@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pink: #f99fa0;
  --pink-hover: #fdb2b3;
  --green: #b8e28a;
  --green-hover: #d3ffa0;
  --green-disable: #7f9b61;
  --green-button: #8fe038;
  --font-poppins: "Poppins", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;  */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}
